<html>
<head>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="myKey"></script>-->
</head>

<body>
<input type="text" id="msg">
<button id="send">send</button>
<div id="msgs"></div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">
    let socket = io.connect('http://127.0.0.1:5000')

    socket.on('connect', function() {
        {#socket.send('user is connected')#}
        {#socket.emit('connect')#}
        {##}
        {#socket.on('ldr', function (data) {#}
        {#    let p = document.createElement('p')#}
        {#    p.textContent = data#}
        {#    document.getElementById('msgs').appendChild(p)#}
        {#    console.log('receive msg')#}
        //})#}
        socket.emit('my_event', 'I\'m connected!');
    })

    socket.on('my_response', function(msg, cb) {
        document.getElementById('msgs').innerHTML = 'Received #' + msg.count ;
        if (cb)
            cb();
    });

    socket.on('vibration', function(data){
        console.log(data)
    })

    {#socket.on('message', function(msg) {#}
    {#    let p = document.createElement('p')#}
    {#    p.textContent = msg#}
    {#    document.getElementById('msgs').appendChild(p)#}
    {#    console.log('receive msg')#}
    //)#}
    {##}
    {##}
    {##}
    //document.getElementById('send').addEventListener('click', function(){
    {#window.addEventListener('load', function(){#}
        {#let msgVal = {val: document.getElementById('msg').value}#}
    {#    let msgVal = {val: 'document.getElementById().value'}#}
        {#socket.send(msgVal)#}
        {#while(true){#}
    {#        fetch(`${window.origin}/data`, {#}
    {#            method: "POST",#}
    {#            credentials: "include",#}
    {#            body: JSON.stringify(msgVal),#}
    {#            cache: "no-cache",#}
    {#            headers: new Headers({#}
    {#                "content-type": "application/json"#}
    {#            })#}
    {#        }).then(function(response){#}
    {#            response.json().then(function(data){#}
    {#                console.log(data)#}
    {#                document.getElementById('msgs').innerHTML = data.msg#}
    {#            })#}
    {#        })#}
    {#    //}#}
    //)#}

</script>
</body>
</html>